[submodule "Externals/googletest"]
	path = Externals/googletest
	url = https://github.com/google/googletest.git
[submodule "Externals/flatbuffers"]
	path = Externals/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "Externals/DirectXMesh"]
	path = Externals/DirectXMesh
	url = https://github.com/microsoft/DirectXMesh.git
[submodule "Externals/assimp"]
	path = Externals/assimp
	url = https://github.com/assimp/assimp.git
